<div class="center hero-unit">
  <h2>short.ly - Shorten that long URLs!</h2>

  <form name="input_url" action="#" method="post">
    <input type="text" name="longurl">
    <input type="submit" class="btn btn-large btn-primary" value="Shorten!">
  </form>

  <!--<#%= link_to "Shorten!", '#', class: "btn btn-large btn-primary" %> -->
</div>