%footer.footer
  %small
    = link_to "short.ly", root_path
    by Jakub Raczyński
  %nav
    %ul
      %li= link_to "About",   'https://github.com/jraczynski/shortly'
      %li= link_to "Contact", 'https://github.com/jraczynski'