<footer class="footer">
  <small>
    <%= link_to "short.ly", root_path %>
    by Jakub Raczyński
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://github.com/jraczynski/shortly' %></li>
      <li><%= link_to "Contact", 'https://github.com/jraczynski' %></li>
    </ul>
  </nav>
</footer>